body {
    background-color: #e3dfeb; /* Substitua pela cor de fundo desejada */
  }

h1  {
    background-color: aliceblue;
}
p {
    background-color: aliceblue;
}
div {
    background-color: rgb(34, 93, 145);
}