* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
::-webkit-scrollbar-thumb {
  background: rgb(50, 148, 248);
}

body {
  background: rgb(11, 27, 43);
}

.container {
  display: flex;
  flex-direction: column;
}

.content {
  width: 100%;
  margin-top: -5.5rem;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  gap: 4.5rem;
  padding: 1rem 2rem;
}

.container__post {
  max-width: 864px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
