.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 10px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left img {
  width: 100px;
  height: 30px;
  margin-right: 10px;
}

.navbar-center {
  display: flex;
  justify-content: center;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right h3 {
  margin-right: 10px;
}

.navbar-right button {
  margin-left: 10px;
}

.navbar button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar button:hover {
  background-color: #ddd;
}