.posts-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.posts-details h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.posts-details p {
  font-size: 16px;
  margin-bottom: 10px;
}

.posts-details .published-date {
  color: #888;
}

.posts-details .published-by {
  font-weight: bold;
}

.posts-details .action-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.posts-details .action-button {
  background-color: #377C99;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.posts-details .action-button  {
  border: 2px solid #377C99;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin: 15px;
  outline: none;
  padding: 16px 10px;
  text-transform: uppercase;
}

.posts-details .action-button:hover {
  background: #0395d4d2;
  color: black;
  transition: 0.3s;
}

.posts-details .action-button:focus {
  outline: none;
}

.posts-details-content {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
