.post-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #eee7e7;
  text-align: center;
}

.post-toggle {
  background-color: #eaeaea;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0 0 10px 0;
  text-transform: uppercase
}

.posts-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}


.posts-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.post-card-link {
  text-decoration: none;
}

.post-card {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
  color: #333;
}

.post-card-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.post-card-content {
  font-size: 14px;
  margin-bottom: 20px;
}

.post-card-published {
  font-size: 12px;
  margin-bottom: 5px;
}

.post-card-updated {
  font-size: 12px;
  margin-bottom: 15px;
  color: #888888;
}

.post-card-user {
  font-size: 12px;
  margin-bottom: 5px;
}