.deletePost form{
    background: #3d3d3d;
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 2rem;
    border-radius: 5px;

        -webkit-box-shadow: 5px 5px 5px -1px rgb(204, 0, 0);
    -moz-box-shadow: 5px 5px 5px -1px rgb(204, 0, 0);
    box-shadow: 5px 5px 5px -1px rgb(204, 0, 0);
    margin-bottom: 70px;
}

.deletePost input{
    margin-bottom: 2rem;
    padding: 1rem;
    font-weight: bold;
}

.deletePost button{
    margin-top: 2rem;

    padding: 0.8rem 7rem;
    border-radius: 5px;
    background: rgb(204, 0, 0);
    color: #fff;
    font-weight: bold;
    font-size: 1rem;

    cursor: pointer;
}

.deletePost button:hover{
    background: #d3d3d3;
    color: #1d1d1d;
    
    transition: .8s;
}

.buttonBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.deletePost textarea{
    max-width: 100%;
    min-width: 100%;

    padding: 1rem;
}