main{
    background: #1d1d1d;
}

main{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 4rem;
    padding-bottom: 4rem;
    min-height: 100vh;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.posts{
    width: 300px;
    background: #3d3d3d;
    border-radius: 5px;

    margin: 0.5rem;
    margin-bottom: 1rem;

    -webkit-box-shadow: 5px 5px 5px -1px rgba(70,192,1,1);
    -moz-box-shadow: 5px 5px 5px -1px rgba(70,192,1,1);
    box-shadow: 5px 5px 5px -1px rgba(70,192,1,1);
}

.posts h1{
    margin: 2rem;
    text-align: center;
    padding: 0;
}

.posts p{
    color: #d3d3d3;
    padding: 2rem;
    height: 150px;
}

.posts span{
    visibility: hidden;
}

.posts div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
}

.posts button{

    margin-top: 4rem;
    margin-bottom: 1rem;
    padding: 0.8rem 3rem;
    border-radius: 5px;
    background: #46c001;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;

    cursor: pointer;
}

.posts button:hover{
    background: #d3d3d3;
    color: #1d1d1d;
    
    transition: .8s;
}