nav{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;

    padding-top: 10px;
    padding-bottom: 10px;

    border-bottom: 1px solid #46c001;

}

#navBrand{
    padding-left: 10%;
    color: #fff;
}

h1{
    color: #fff;
}

.links{
    padding-right: 10%;
}

.links a{
    margin: 1rem;
    text-decoration: none;
    color: #fff;
}

body{
    background: #3d3d3d;
}