.layoutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
  margin: 100px auto 40px;
  max-width: 1200px;
  gap: 25px;
  padding: 20px 10px;
  padding-top: 40px;
  border: 1px solid black;
  border-radius: 4px;
  flex-wrap: wrap;
  height: fit-content;
  max-height: 550px;
  overflow-y: auto;
  position: relative;
}
